:root{
    /* font-family */
    --poppins: "Poppins", sans-serif;

    /* colors */
    --primary-colors: #FFFFFF;
    --secondary-colors: #EDF7FA;
    --accent-colors: #FF6464;
    --dark-colors: #2A326F;
    --light-colors: #8695A4;
    --secondary-light-colors: #00A8CC;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--poppins);
    background-color: var(--primary-colors);
}
img{
    max-width: 100%;
    display: block;
}
ul,ol{
    list-style-type: none;
}
header{
    position: sticky;
    overflow-x: clip;
    top: 0;
    background-color: var(--primary-colors);
}
.container{
    width: 94%;
    max-width: 68.75rem;
    margin-inline: auto;

}
.container-medium{
    width: 94%;
    max-width: 56.25rem;
    margin-inline: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 14dvh;
}
.nav-ul-container{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.2rem;
    height: 78dvh;
    width: 60%;
    background-color: var(--light-colors);
    transition: all ease-in-out 250ms;

}
.nav_links_container-helper{
    right: 0 !important;
}
#hanburger-icon{
    cursor: pointer;
}
/* this is sub-container stylings */
.sub-container{
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    margin-block: 2rem;
   
}
.sub-container_content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;

}
h1{
    font-size: clamp(1.4rem, 1.13rem + 1.728vw,2.75rem);
    font-weight: 700;
}
.sub-container_content > p{
    font-size: clamp(1rem, 0.975rem + 0.15rem, 1.12rem);
    color: black;

}
.sub-container_button{
    font-size: clamp(1rem, 0.975rem + 0.15rem, 1.12rem);
    background-color: var(--accent-colors);
    color: var(--primary-colors);
    border-radius: 0.25rem;
    border: none;
    padding: .7em 1em;
}
.sub-container > img{
    align-self: center;
}
.section-one{
   background-color: var(--secondary-colors);
   width: 100%;
   
}

.sec_ul{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
}
.sec_ul p{
    font-size: clamp(0.8rem, 0.375rem + 2vw, 1.2rem);
}
.sec_ul a{
    font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
    color: var(--secondary-light-colors);
    text-decoration: none;
}
.section-main{
    display: flex;
     flex-direction: column;
     align-items: center;
}

.sec_ul-1{
    max-width: 27.375rem;
    background-color: #FFFFFF; 
    padding: 1.5rem;
    margin-block: 1.2rem;
    border-radius: 0.5rem;
    

}
h3{
    font-size: clamp(1.25rem, 0.625rem + 2vw, 1.75rem);
    font-weight: 600;
}
.sec_ul-1 p:first-child{
    font-size: clamp(0.4rem, 0.325rem + 1.2vw, .6rem);
    color: #636B78;
}
.sec_ul-1 p:last-child{
    font-size: clamp(0.9rem, 0.4625rem + 1.4vw, 1rem);
    padding-block: 1rem;
    /* border: 2px solid red; */
}
.section-two{
    width: 100%;
}
.section-header{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
}
.section-header > p{
    font-size: clamp(0.8rem, 0.375rem + 2vw, 1.2rem);
}
.section-header > a{
    font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
    color: var(--secondary-light-colors);
    text-decoration: none;
}
.section_featured-work{
    margin-inline: 1rem;
    border: 2px solid red;
}
.featured-work{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2rem ;
    margin-block: 2rem;
    border-bottom: 1px solid var(--light-colors);
    padding-bottom: 3rem;


}
.feature-column{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.feature-column p{
    border: 1px solid red;
}

.feature-column p:first-child{
    font-size: clamp(0.8rem, 0.375rem + 2vw, 1.2rem);
    font-weight: 600;
    
}
.dashboard-year{
    background-color: var(--dark-colors);
    color: var(--primary-colors);
    border-radius: 4px;
    font-size: clamp(0.7rem, 0.325rem + 1.2vw, .6rem);
    padding: .2rem .7rem;

}
.dashboard-text{
    margin-inline: 2rem;
    font-size: clamp(0.8rem, 0.325rem + 1.2vw, .8rem);
    color: #636B78;
    
}


.feature-column p:last-child{
    font-size: clamp(0.9rem, 0.4625rem + 1.4vw, 1rem);
    padding-block: 1rem;
}












@media(width >= 768px){
    #hanburger-icon{
       display:none; 
    }
    .nav-ul-container{
        position: static;
        width: fit-content;
        height: auto;
        flex-direction: row;
        justify-content: right;
        background-color: var(--primary-colors); 
    }
    .sub-container{
        flex-direction: row;
        gap: 3rem;
        

    }
    .section-main{
        flex-direction: row;
        justify-content: space-between;
    }
    .featured-work{
        
        flex-direction: row;
    }
    
}